body {
    font-family: Arial, sans-serif;
    margin: 20px;
    background-color: #c5cbe3;
    color: #3D52A0; /* Text color */
}

form {
    margin-bottom: 20px;
}

input, button {
    margin: 5px;
    padding: 10px;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    padding: 10px;
    border: 1px solid #000000;
    text-align: left;
}

th {
    background-color: #4056A1;
    color: white;
}

form button[type="submit"] {
    background-color: #7091E6;
    color: white;
    cursor: pointer;
}
